@import "../../app.scss";

.rounded-square {
    width: 200px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */
    background-color: #f0f0f0; /* Change background color */
    border-radius: 10px; /* Adjust corner roundness */
    left:500px;
    background-image: url('../../../public/BoxMirchi.png');
  }